<p>Olá <%= @resource.email %>!</p>

<p>Alguém fez um pedido de mudança da sua senha. Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Mudar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez esse pedido, por favor ignore este email.</p>
<p>A sua senha não será mudada enquanto você não clicar neste link e criar uma nova.</p>
